---
author: Tony Dewan
layout: post
title: DNSimple DNS for Paperplane Custom Domains
---

:markdown
  Kyle wrote an [in depth tutorial](http://blog.paperplane.io/2013/04/16/setting-up-a-custom-domain-on-paperplane.html) about setting up custom domains in your paperplane account. It explains the complete process, so that's a great place to start if you're confused. However, he focused on [iwantmyname](https://iwantmyname.com/) (which is great), and I'm an avid [DNSimple](http://dnsimple.com/) user. I want to quickly describe how a DNSimple setup is different.

  I'm going to assume a few things: you've got a paperplane.io subscription, a site added to your paperplane dashboard, and domain in your DNSimple account. If that's the case, you'll just need to add a few DNS records. Here's what it looks like for me, on [rebuildconf.com](http://www.rebuildconf.com/).

.full-width
  %img(src='/images/2013-04-19-dnsimple-dns-for-paperplane-custom-domains/dnsimple-config.png')

%p There are 2 important things to note. 

%ul
  %li <strong>First</strong>, I'm using DNSimple's URL record type to redirect rebuildconf.com to www.rebuildconf.com. This replaces WWWizer in Kyle's writeup. It's a one-stop shop!
  %li <strong>Second</strong>, I have several subdomains (www, 2011, 2012) CNAME'd to proxy.paperplane.io. That means I have 3 different sites in my paperplane.io dashboard, and 3 different folders in my Dropbox.

.full-width
  %img(src='/images/2013-04-19-dnsimple-dns-for-paperplane-custom-domains/finder-and-dashboard.png')

%p It's as simple as that. Still have questions about custom domains or DNS? <a href="mailto:paperplane@fivedayprototype.com">Let us know!</a>